body{
    background-color: white;
}
main{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}
#conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    position: relative;
    margin-top:-10vh;
    padding: 20px;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-decoration: underline solid #1F5A2D;
    margin-bottom: .6em;
}
.verde_title{
    color: #007400;
}
.azul_title{
    color: #020090;
}
ul{
    list-style: decimal;
    margin-bottom: 15px;
}
li{
    margin-bottom: 10px;
}
h2{
    color: #0D9FBA;
    margin-top: .5em;
}

.importante{
    font-size: 30px;
    color: rgb(0, 4, 255);
}
@media (max-width:900px){
    main{
        font-size: 1em;
    }
    .importante{
        font-size: 20px;
    }
    #conteudo{
        margin-top: 0;
    }
}