footer{
    border-top: 10px solid #1F5A2D;
    background-color: #14235A;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    width: 100vw;
}

footer h3{
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
}

/*Address*/
address{
    display: flex;
    flex-direction: row;
}
.addr{
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 15px;
    transition: all .3s ease-in;
}
.address:hover{
    font-size: 18px;
    text-decoration: underline white;
}


.address img{
    width: 50px;
    margin-right: 10px;
}
/*-----------------------*/

/*Modificando telefone*/
#tel_link{
    display: flex;
    flex-direction: row;
}
.telefone{
    transform: rotateZ(-45deg);
    width: 70px;
}
#nums a{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-decoration: none;
}
.num {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}
.num img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.num p{
    transition: all .3s ease-in;
}

#num-1:hover{
    font-size: 18px;
}
#num-2:hover{
    font-size: 18px;
}
abbr{
    text-decoration: none;
}

/*Link wpp*/
#wpp_link img{
    user-select: none;
    width: 70px;
    height: 70px;
    position: fixed;
    right:40px;
    bottom: 40px;
    padding: 10px;
    border-radius: 30px;
    opacity: 0;
    transition: all .3s;
    z-index: 3;
}
#wpp_link.active img{
    opacity: 1;
    user-select: none;
}