body{
    overflow: hidden;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    background-color: rgba(202, 255, 153, 0.726);
    border-radius: 10px;
    font-size: larger;
    margin-bottom: 1em;
}
noscript{
    width: 20%;
    height: 5%;
}
a{
    width: 100%;
    height: 100%;
}
button{
    color: white;
    background: #1F5A2D;
    border: solid white 1.8px;
    
    text-align: center; 
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}